html 
{
	background: black;
	overflow-y: scroll;
	position: absolute;
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;

	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body 
{
	display: table;

	width: 100%;
	max-width: 800px !important;
	margin: 0 auto; 

	margin-bottom: 40px !important;

	word-wrap:break-word;

	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;

}

br
{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#canvas
{
	z-index:0;
}

#smoke
{
	z-index: 10;
	position: absolute;
	top: -20%;
	text-align: center;
	opacity: 0.5;

	transition-property: color;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	/* ...and now for the proper property */
	transition:1s;
}

#zoomzoom:hover
{
	z-index: 10;
	position: absolute;
	width: 400%;
	top: -20%;
	text-align: center;

	transition-property: color;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	/* ...and now for the proper property */
	transition:1s;
}

.noselect 
{
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
 	   -khtml-user-select: none; /* Konqueror HTML */
   	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                supported by Chrome and Opera */
}

